/*Global Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 1 rem now = 10 pixels*/
    font-size: 62.5%;
}
body{
    font-family: "Poppins", sans-serif;
  }
  
  h1{
    font-size: 2.6rem;
  }
  li,
  button, label, input, p{
    font-size: 2rem;
  }
  input:hover{
      border-color: #ca7e04;
  }
  input:focus{
      border: 2px solid #ca7e04;
  }
  h2{
    font-size: 4.8rem;
  }
  h3{
    font-size: 3rem;
    font-weight: normal;
  }
  h4, h5{
    font-size: 2.8rem;
  }
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color: #ca7e04;
}
a:focus{
    color: #ca7e04;
    border: 1px solid rgba(255, 255, 255, 0.849);
    border-style: solid;
}
button{
    padding: 2rem 6rem;
    background: #b36e01;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }
  button:hover{
      background: #e08b03;
  }
  button:focus{
      background: #b36e01;
  }

/* Navigation */
.main-head{
    background: #14213D;
    color: #fff;
    position: sticky;
    top: 0px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    min-height: 10vh;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#logo{
    flex: 2 1 40rem;
    font-weight: 400;
}

/* Hero Section */
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url('../img/construction-site.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h3{
    padding: 5rem;
}

/* Services Section */
.services-head{
    min-height: 40vh;
    padding: 3rem;
    background: #343c44;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services-head h3{
    padding: 1rem;
}
.cards{
    min-height: 60vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40rem;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.card img{
    max-width: 15%;
    margin: 2rem;
}
.card h4, .card p {
  padding: 1rem;
  line-height: 1.8;
}
.card-icon{
    background: #b36e01;
}

/* Contact Section */
#contact{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url('../img/sitting-at-table.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.form-wrapper{
    width: 60%;
    background: rgb(52, 60, 68, 0.8);
    border-radius: 20px;
}
.form-head{
    text-align: center;
    padding: 4rem;
}
.name-form, .email-form{
    text-align: center;
    padding: 3rem;
}
.form-wrapper label{
    margin: 0rem 3rem;
}
.form-wrapper button{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    padding: 2rem;
    margin-top: 6rem;
}
.form-wrapper input{
    padding: 1rem 3rem;
}

/* Footer Section */
footer{
    color: #fff;
    background: rgba(20, 33, 61, 1);
}
.footer-wrapper{
    display: flex;
    padding: 2rem;
    margin: auto;
    width: 90%;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}
footer h5{
    flex: 1 1 40rem;
}
footer ul{
    display: flex;
    list-style: none;
    flex: 1 1 20rem;
    align-items: center;
    justify-content: space-between;
}

/* Media Queries */
@media screen and (max-width: 420px){ /* Mobile Friendly*/
    html{
        font-size: 45%;
    }
    nav{
        text-align: center;
    }
    #logo{
        padding: 2rem;
    }
    .form-wrapper{
        width: 100%;
    }
    footer{
        text-align: center;
    }
    footer h5{
        padding-bottom: 3rem;
    }
    button{
        background: #b36e01;
    }
}

@media screen and (max-width: 935px){ /* Tablet Friendly */
    html{
        font-size: 55%;
    }

    nav{
        text-align: center;
        min-height: 5vh;
    }
    .hero{
        min-height: 75vh;
    }
    .services-head{
        min-height: 25vh;
    }
    .cards{
        min-height: 75vh;
    }
}