/*Global Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 1 rem now = 10 pixels*/
    font-size: 62.5%;
}
body{
    font-family: "Poppins", sans-serif;
  }
  
  h1{
    font-size: 2.6rem;
  }
  li,
  button, label, input, p{
    font-size: 2rem;
  }
  h2{
    font-size: 4.8rem;
  }
  h3{
    font-size: 3rem;
    font-weight: normal;
  }
  h4, h5{
    font-size: 2.8rem;
  }
a{
    text-decoration: none;
    color: #fff;
}
button{
    padding: 2rem 6rem;
    background: #FCA311;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
  }
  button:hover{
      background: #ca7e04;
  }
/* Navigation */
.main-head{
    background: #14213D;
    color: #fff;
    position: sticky;
    top: 0px;
}
nav{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    min-height: 10vh;
}
nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#logo{
    flex: 2 1 40rem;
    font-weight: 400;
}

/* Hero Section */
.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.8), transparent), url('../img/construction-site.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h3{
    padding: 5rem;
}

/* Services Section */
.services-head{
    min-height: 40vh;
    padding: 3rem;
    background: #343c44;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.services-head h3{
    padding: 1rem;
}
.cards{
    min-height: 60vh;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40rem;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.card img{
    max-width: 15%;
    margin: 2rem;
}
.card h4, .card p {
  padding: 1rem;
  line-height: 1.8;
}
.card-icon{
    background: #FCA311;
}